@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

// task-form ======================================================================================================
.task-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background: $color-bg-light;
  border: 1px solid $color-border;

  &__textarea {
    min-height: 100px;
    resize: vertical;
    @include input-style;
  }

  &__date-input {
    @include input-style;
  }

  &__buttons-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__buttons {
    display: flex;
    gap: 0.5rem;
  }
}
