// media ======================================================================================================
@media (min-width: 577px) and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .task-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: start;
    gap: 0.5rem 1rem;

    &__textarea {
      grid-column: 1;
      grid-row: 1;
    }

    &__date-input {
      grid-column: 1;
      grid-row: 2;
    }

    &__buttons-container {
      grid-column: 2;
      grid-row: 1;
    }
  }

  .filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: start;
    gap: 0.5rem 1rem;

    &__buttons {
      &--status {
        grid-column: 2;
        grid-row: 1;
      }

      &--priority {
        grid-column: 2;
        grid-row: 2;
      }
    }

    &__search-input {
      grid-column: 1;
      grid-row: 1;
    }
  }

  .counter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
    position: sticky;
    top: 1rem;

    &__list {
      grid-column: 1;
      grid-row: 1;
    }

    .button-main {
      grid-column: 2;
      grid-row: 1;
    }
  }

  .task-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: start;
    gap: 0.5rem 1rem;

    &__label {
      grid-column: 1;
      grid-row: 1;
    }

    &__header {
      grid-column: 1;
      grid-row: 2;
    }

    &__buttons {
      grid-column: 2;
      grid-row: 1;
    }
  }
}

@media (max-width: 576px) {
  .container {
    flex-direction: column;
  }

  .counter {
    position: sticky;
    top: 1rem;
  }
}
