@use "@/styles/variables" as *;

// mixins ======================================================================================================
@mixin input-style {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: $color-base;
  font-size: 1rem;
  border: 1px solid $color-border;

  &:hover {
    border-color: $color-primary;
  }

  &:focus {
    outline: none;
    border: 2px solid $color-primary;
  }
}

@mixin card-style($radius: 8px, $padding: 0.5rem 1rem) {
  padding: $padding;
  border-radius: $radius;
  background: $color-base;
  border: 1px solid $color-border;
}

@mixin badge-style($radius: 6px, $padding: 0.2rem 0.6rem) {
  padding: $padding;
  border-radius: $radius;
  background: $color-base;
  border: 1px solid $color-border;
}
