* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e8e8e88d;
}

.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

.column {
  flex: 1;
  padding: 1rem;
}

.task {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.textarea {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: #fff;
  font-size: 1rem;
  border: 1px solid #ddd;
  min-height: 100px;
  resize: vertical;

}

.date-input {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: #fff;
  font-size: 1rem;
  border: 1px solid #ddd;
}

.buttons-priority {
  display: flex;
  gap: 0.5rem;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.buttons-status {
  display: flex;
  gap: 0.5rem;
}

.search-input {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: #fff;
  font-size: 1rem;
  border: 1px solid #ddd;
}

.counter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}